html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont;
  margin: 0;
}

.site {
  height: 100vh;
}

.site-content {
  flex: 1;
}

.header {
  margin: 0;
  background-color: black;
  text-align: right;
}

/* The Button Style */
#myBtn {
  border: none;
  background-color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 0px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000;
  /* Fallback color */
}

/* Modal Content */
/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 1rem;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.quote {
  background-image: url("/assets/images/Jason-Statham-Bond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.quote--jobs {
  background-image: url("/assets/images/Steve-Jobs.jpg");
}

.quote--pool {
  background-image: url("/assets/images/Deadpool.jpg");
}

.quote--aristotle {
  background-image: url("/assets/images/Ari.jpg");
}

.quote--alankay {
  background-image: url("/assets/images/alan_kay.jpg");
}

.gallery {
  height: 100%;
}

.text {
  color: #fff;
  padding: 0 2.5rem 3.5rem;
  max-width: 64ch;
  position: relative;
}

.text__name {
  font-size: .9rem;
  font-weight: normal;
  margin-bottom: .5rem;
  opacity: .5;
}

.text__quote {
  font-size: 1.55rem;
  font-style: italic;
  font-weight: lighter;
  color: #fff;
  line-height: 1.5;
  min-height: 6rem;
  margin-bottom: 4rem;
}

.text__tags {
  font-size: .75rem;
  font-weght: normal;
  opacity: .25;
}

.overlay {
  background-image: linear-gradient(-180deg, transparent 44%, #000000 100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: .25;
}
